Web/Service References/ServiceReference1/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/WCF" />
  <xs:element name="GetEmpleadoByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Cedula" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmpleadoByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCF" minOccurs="0" name="GetEmpleadoByIDResult" nillable="true" type="q1:Empleado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmpleadosByCargo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IDCargo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmpleadosByCargoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCF" minOccurs="0" name="GetEmpleadosByCargoResult" nillable="true" type="q2:ArrayOfEmpleado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>