Web/Service References/ServiceReference1/WCF.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCF" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Empleado">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cedula" type="xs:int" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="cargo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Empleado" nillable="true" type="tns:Empleado" />
  <xs:complexType name="ArrayOfEmpleado">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Empleado" nillable="true" type="tns:Empleado" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmpleado" nillable="true" type="tns:ArrayOfEmpleado" />
</xs:schema>